(function() {
  var ucfirst,
    indexOf = [].indexOf || function(item) { for (var i = 0, l = this.length; i < l; i++) { if (i in this && this[i] === item) return i; } return -1; };

  Array.cast = function(el) {
    if (Array.isArray(el)) {
      return el;
    } else if (el === void 0) {
      return [];
    } else {
      return [el];
    }
  };

  Array.intersection = function(a, b) {
    var k, len, ref, results, value;
    if (a.length > b.length) {
      ref = [b, a], a = ref[0], b = ref[1];
    }
    results = [];
    for (k = 0, len = a.length; k < len; k++) {
      value = a[k];
      if (indexOf.call(b, value) >= 0) {
        results.push(value);
      }
    }
    return results;
  };

  ucfirst = function(str) {
    var f;
    str += '';
    f = str.charAt(0).toUpperCase();
    return f + str.substr(1);
  };

  this.M = (function() {
    var allRoles, assetBase, fallbackToDefaultPatterns, filterReplacements, getWord, getWordByLocale, localeSets, localizatorDefaultPatterns, localizatorSelectors, replaceMany, routeBase, routing, translationOrder, translationOrderWithForced;

    function M() {}

    {% for name, value in vars %}M.{{name}} = {{ value|json_encode|raw }};{% endfor %};

    M.user = {{ app.user ? {'name': app.user.__toString(), 'id': app.user.identifier, "roles": app.user.getRoles }|json_encode|raw : 'null' }};

    allRoles = {{ roles|json_encode|raw }};

    M.isGranted = function(requiredRoles) {
      var actualRoles, k, len, ref, role;
      if (requiredRoles == null) {
        requiredRoles = void 0;
      }
      requiredRoles = Array.cast(requiredRoles);
      if (!requiredRoles.length) {
        return true;
      }
      if (!M.user) {
        return false;
      }
      ref = M.user.roles;
      for (k = 0, len = ref.length; k < len; k++) {
        role = ref[k];
        actualRoles = allRoles[role] === void 0 ? [role] : allRoles[role];
        if (Array.intersection(actualRoles, requiredRoles).length) {
          return true;
        }
      }
      return false;
    };

    assetBase = "{{ asset('') }}";

    M.asset = function(path) {
      return assetBase + path;
    };

    routing = {{ routing|json_encode|raw }};

    routeBase = "{{ routeBase }}";

    M.routeExists = function(name) {
      return routing[name] !== void 0;
    };

    M.route = function(name, params, frontController) {
      var defaultTag, get, i, key, out, param, replacement, replacements, route, tag, tags;
      if (params == null) {
        params = {};
      }
      if (frontController == null) {
        frontController = null;
      }
      route = routing[name];
      if (route === void 0) {
        throw "Route '" + name + "' not found";
      }
      out = route['pattern'];
      tags = out.match(/{.*?}/ig);
      tags = tags ? tags.map(function(x) {
        return x.substr(1, x.length - 2);
      }) : [];
      replacements = {};
      for (i in tags) {
        tag = tags[i];
        param = params[tag];
        if (param === void 0) {
          if (route['defaults'] === void 0 || (defaultTag = route['defaults'][tag]) === void 0) {
            throw 'Parameter ' + tag + ' is required for route ' + name;
          }
          param = i === tags.length - 1 ? '' : defaultTag;
        } else {
          delete params[tag];
        }
        replacements['{' + tag + '}'] = param;
      }
      for (key in replacements) {
        replacement = replacements[key];
        out = out.replace(key, replacement);
      }
      get = [];
      for (key in params) {
        param = params[key];
        get.push(encodeURIComponent(key) + '=' + encodeURIComponent(param));
      }
      return routeBase + (out === '/' ? out : out.replace(/\/+$/, '')) + (get.length ? '?' + get.join('&') : '');
    };

    M.locale = "{{ app.locale }}";

    localeSets = {{ localeSets|json_encode|raw }};

    localizatorDefaultPatterns = {{ localizatorDefaultPatterns|json_encode|raw }};

    translationOrder = {{ translationOrder|json_encode|raw }};

    localizatorSelectors = {{ localizatorSelectors|raw }};

    localizatorSelectors[""] = function(replacements, versions) {
      var count, doesMatch, i, k, len, matches, rangeMatches, ref, requirement, translation, version;
      count = Math.abs(replacements['%count%']);
      doesMatch = function(count, requirement) {
        var j, k, len, max, min, range, ranges, ref;
        ranges = requirement.split(',');
        for (j = k = 0, len = ranges.length; k < len; j = ++k) {
          range = ranges[j];
          if (!ranges.hasOwnProperty(j)) {
            continue;
          }
          ref = range.split('-'), min = ref[0], max = ref[1];
          if (rangeMatches(count, min, max)) {
            return true;
          }
        }
        return false;
      };
      rangeMatches = function(count, min, max) {
        if (max === void 0) {
          if (min === '') {
            return true;
          }
          return count === parseInt(min);
        }
        if (min !== '' && max !== '') {
          return count >= min && count <= max;
        }
        if (min !== '' && max === '') {
          return count >= min;
        }
        if (min === '' && max !== '') {
          return count <= min;
        }
      };
      for (i = k = 0, len = versions.length; k < len; i = ++k) {
        version = versions[i];
        if (!versions.hasOwnProperty(i)) {
          continue;
        }
        ref = (matches = version.match(/^\{([\d,-]+)\}(.*)/)) ? [matches[1], matches[2].trim()] : [(i === 0 ? '1' : '0,2-'), version.trim()], requirement = ref[0], translation = ref[1];
        if (doesMatch(count, requirement)) {
          return translation;
        }
      }
      return '';
    };

    M.l = function(word, replacements, set, locale) {
      var fun, matches, translated, versions;
      if (replacements == null) {
        replacements = {};
      }
      if (set == null) {
        set = void 0;
      }
      if (locale == null) {
        locale = void 0;
      }
      if (!word) {
        return '';
      }
      translated = getWord(word, set, locale) || fallbackToDefaultPatterns(word) || word;
      replacements = filterReplacements(replacements);
      translated = translated.replace(/\[\[(.+?)\]\]/gi, (function(_this) {
        return function(match, contents, offset, s) {
          return _this.l(replaceMany(contents, replacements), replacements, set, locale);
        };
      })(this));
      if (matches = translated.match(/^<([A-Za-z0-9]*)>(.*)$/)) {
        fun = localizatorSelectors[matches[1]];
        versions = matches[2].split('|').map(function(str) {
          return str.trim();
        });
        if (fun !== void 0) {
          translated = fun(replacements, versions);
        }
      }
      return replaceMany(translated, replacements);
    };

    replaceMany = function(text, replacements) {
      var key, replacement;
      for (key in replacements) {
        replacement = replacements[key];
        if (!replacements.hasOwnProperty(key)) {
          continue;
        }
        text = text.replace(key, replacement);
      }
      return text;
    };

    getWord = function(word, set, locale) {
      var checkedSets, i, j, k, len, localeSet, order, translated;
      if (set == null) {
        set = void 0;
      }
      if (locale == null) {
        locale = void 0;
      }
      checkedSets = set === void 0 ? localeSets : localeSets[set] === void 0 ? {} : {
        setName: localeSets[set]
      };
      order = translationOrderWithForced(locale);
      for (i = k = 0, len = order.length; k < len; i = ++k) {
        locale = order[i];
        if (!order.hasOwnProperty(i)) {
          continue;
        }
        for (j in checkedSets) {
          localeSet = checkedSets[j];
          if (!checkedSets.hasOwnProperty(j)) {
            continue;
          }
          if (localeSet[locale] === void 0) {
            continue;
          }
          translated = getWordByLocale(word, localeSet[locale]);
          if (translated !== null) {
            return translated;
          }
        }
      }
      return null;
    };

    translationOrderWithForced = function(forcedLocale) {
      var order;
      if (forcedLocale == null) {
        forcedLocale = void 0;
      }
      if (forcedLocale === void 0) {
        return translationOrder;
      }
      order = [forcedLocale];
      if (forcedLocale.length === 5) {
        order.push(forcedLocale.substr(0, 2));
      }
      return order;
    };

    fallbackToDefaultPatterns = function(word) {
      var k, len, m, pattern;
      for (k = 0, len = localizatorDefaultPatterns.length; k < len; k++) {
        pattern = localizatorDefaultPatterns[k];
        if (m = (new RegExp(pattern)).exec(word)) {
          return ucfirst(m[1]);
        }
      }
      return null;
    };

    getWordByLocale = function(word, arr) {
      var i, part, parts, subarr;
      parts = word.split('.');
      for (i in parts) {
        part = parts[i];
        if (!parts.hasOwnProperty(i)) {
          continue;
        }
        subarr = arr[part];
        if (subarr === void 0) {
          return null;
        }
        arr = subarr;
      }
      return arr;
    };

    filterReplacements = function(replacements) {
      var key, newReplacements, replacement;
      if (replacements == null) {
        replacements = {};
      }
      newReplacements = {};
      for (key in replacements) {
        replacement = replacements[key];
        if (!replacements.hasOwnProperty(key)) {
          continue;
        }
        key = key.match(/%\w+%/) ? key : "%" + key + "%";
        newReplacements[key] = replacement;
      }
      return newReplacements;
    };

    return M;

  })();

}).call(this);
